body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.041),rgba(0, 0, 0, 0.041)), url(https://t3.ftcdn.net/jpg/04/12/82/16/360_F_412821610_95RpjzPXCE2LiWGVShIUCGJSktkJQh6P.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: transitionIn 0.75s;
}*{
    margin: 0;
    padding: 0;
}
header, footer{
    position: absolute;
    width: 100%;
}
header h2{
    position: relative;
    margin: auto;
    left: 1%;
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: clamp(2px, 5vw, 20px);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(248, 29, 29);
    border-radius: 20px;
    margin: auto;
    position: relative;
    margin-top: 1%;
    width: 95%;
    filter: drop-shadow(0 1mm 4mm rgba(255, 49, 49, 0.795));
}
footer{
    height: 10vh;
    bottom: 0;
    color: rgb(248, 29, 29);
}
footer h2{
    position: absolute;
    left: 45%;
}
.nav{
    list-style: none;
    display: inline-block;
    right: 1%;
    margin: auto;
    position: relative;
}
.nav a{
    position: relative;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: auto 10px;
    text-align: right;
    font-size: clamp(2px, 3vw, 20px);
}
.nav a::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.nav a:hover::after{
    width: 100%;
}
.logo{
    position: fixed;
    height: auto;
    top: 15px;
    left: 15px;
    width: 100px;
}
footer p{
    position: absolute;
    left: 45%;
    bottom: 20px;
}
footer p2{
    position: absolute;
    left: 90%;
    bottom: 0px;
}
.title{
    position: absolute;
    top: 47%;
    left: 34%;
    transform: translate(-50%,-50%);
}
.title h1{
    color: rgb(248, 29, 29);
    font-size: 50px;
}
.title p{
    color: rgb(248, 29, 29);
}
.title p1{
    color: rgb(248, 29, 29);
}
.container{
    position: absolute;
    top: 16%;
    left: 3%;
    width: 830px;
    height: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
}
.card1{
    position: absolute;
    top: 3%;
    left: 66%;
    width: 350px;
    height: 428px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 80px 50px;
    background-image: url(https://img.apmcdn.org/8740e63882c1e613786ee7f86b4d07a6bb58936d/uncropped/d30b16-capitol-view-files-2019-04-ap17292719642901.jpg);
    background-position: center;
    background-size: cover;
    color: rgb(248, 29, 29);
    transition: 0.5s;
}
.card1:hover{
    transform: translateY(-10px);
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-10px)
    }
    to{
        opacity: 1;
        transform: translateY(0)
    }
}
@media screen and (max-width: 450px)
{
    h1{
        font-size: 36px;
        line-height: 50px;
    }
    header h2{
        position: absolute;
        margin-top: 15px;
        left: 5%;
    }
    footer p{
        position: absolute;
        left: 35%;
        top: 760px;
    }
    footer p2{
        position: absolute;
        left: 2%;
        top: 790px;
    }
    footer{
        bottom: -100px;
    }
    .nav{
        list-style: none;
        display: inline-block;
        margin: 0 20px;
        position: relative;
    }
    .nav a{
        position: relative;
        left: 10%;
        top: 60px;
        color: rgb(248, 29, 29);
        text-decoration: none;
        margin-right: 35px;
    }
    .button{
        position: absolute;
        top: 165%;
        left: 20%;
        transform: translate(0%,0%);
    }
    .title{
        position: absolute;
        top: 85%;
        transform: translate(0%,0%);
        left: 5%;
        right: 5%;
    }
    .title h1{
        color: rgb(248, 29, 29);
        font-size: 50px;
        margin-bottom: 30px;
    }
    .card1{
        position: absolute;
        top: 3%;
        left: -5%;
        width: 330px;
        height: 430px;
        display: inline-block;
        border-radius: 10px;
        padding: 10px 15px;
        box-sizing: border-box;
        cursor: pointer;
        margin: 80px 50px;
        background-image: url(https://img.apmcdn.org/8740e63882c1e613786ee7f86b4d07a6bb58936d/uncropped/d30b16-capitol-view-files-2019-04-ap17292719642901.jpg);
        background-position: center;
        background-size: cover;
        color: rgb(248, 29, 29);
        transition: 0.5s;
    }
    .container{
        position: absolute;
        top: 101%;
        left: 3%;
        width: 360px;
        height: 340px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        backdrop-filter: blur(15px);
    }
}
